@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
	font-family: Rubik;
	padding: 0;
	margin: 0;
}

body {
	background: url(./assets/background.png);
}

nav {
	padding: 10px;
	color: white;
}

.logo-container {
	display: flex;
	align-items: center;
	gap: 10px;
}
