@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Chango&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&family=Young+Serif&display=swap");

* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: "Rubik";
	background-image: url("asset/e986c171a3316a09bd7a1cda24ec928c1165bcc7.png");
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inf {
	position: absolute;
	width: 100%;
	height: 200px;
	z-index: -1;
	top: 0px;
}

.inf2 {
	position: absolute;
	width: 100%;
	height: 200px;
	z-index: -1;
	top: 150px;
}

.main-card {
	color: #3a3a3a;
	background-color: #e6eff4;
	padding: 25px;
	margin: 200px;
}

.red-background {
	background-color: #f5c2cd;
	font-size: 14px;
	display: flex;
	align-items: center;
	gap: 5px;
	border-left: solid 5px #bc5c70;
}

.red-background-txt {
	display: flex;
	flex-direction: column;
}

.txt-section {
	display: flex;
	flex-direction: column;
	gap: 40px;
	font-size: 16px;
}

.space-section {
	display: flex;
	padding-top: 20px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-top: 25px;
}

.searcher {
	display: flex;
	background-color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 10px;
	gap: 8px;
	padding-left: 10px;
	align-items: center;
}

.searcheer {
	padding: 5px 50% 5px 5px;
	color: #dbdbdb;
	font-weight: 700;
	size: 16px;
}

.searcheer::placeholder {
	color: #dbdbdb;
	font-weight: 700;
	font-size: 17px;
}

form {
	margin: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

.form-search {
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	color: white;
	text-decoration: none;
}

.filtre {
	display: flex;
	gap: 40px;
	padding-top: 30px;
}

.label-search {
	border-radius: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 5px;
	padding-right: 10px;
}

.label-search::placeholder {
	color: #dbdbdb;
	font-weight: 700;
	font-size: 12px;
}

.text-filtre {
	padding-bottom: 7px;
	color: #3a3a3a;
	font-weight: 700;
	font-size: 14px;
}

select {
	border: none;
	direction: rtl;
	padding-right: 90px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 5px;
}

.btn-search {
	background-color: #4f8c69;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 99px;
	font-size: 18px;
}
.btn-spawn-group {
	display: flex;
	justify-content: center;
	margin-top: 5%;
}

.img-search {
	height: 25vh;
}

img {
	max-width: 100%;
}

.div-global-card {
	display: grid;
	flex-direction: row;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 17px;
}

.div-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid;
	padding: 6px;
}

.div-text {
	display: flex;
	flex-direction: row;
	font-size: 14px;
	gap: 10px;
}

.p-search {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 5px;
	width: 80%;
	color: #ffffff;
	font-weight: 700;
	size: 15px;
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
	box-shadow: -4px -4px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

.btn-card {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 5px;
	width: 80%;
	color: #ffffff;
	font-weight: 700;
	size: 15px;
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
	box-shadow: -4px -4px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

@media screen and (max-width: 490px) {
	body {
		width: max-content;
	}
}
